---
profile: true
permalink: resources/
---

<h1 class="header">Resources</h1>
<h2 class="header">for self-taught programmers</h2>
<br/>

<h2>Getting Started</h2><a name="getting-started"></a>

<p>
<ul>
  <li><a href="/about" target="_blank">[START HERE] My Goals for This Website</a></li>
  <li><a href="/timeline" target="_blank">Start On The Right Path- Learn From My Mistakes</a></li>
  <li><a href="{% post_url 2016-07-01-assumptions-myths-self-taught-programmer %}" target="_blank">Assumptions and Myths of Becoming A Self-Taught Programmer</a></li>
  <li><a href="{% post_url 2016-08-29-what-to-expect %}"target="_blank">What to Expect When Teaching Yourself to Code</a></li>
  <li><a href="{% post_url 2016-06-30-guideline-self-taught-programmer %}" target="_blank">The Guideline to Being a Self-Taught Programmer</a></li>
  <li><a href="{% post_url 2016-06-28-why-choose-python %}" target="_blank">Why I Chose Python as My First Language</a></li>
  <li><a href="{% post_url 2016-11-11-developer-bootcamp-research-review %}" target="_blank">Should you Attend a Developer Bootcamp?</a></li>
  <li><a href="#">The Developer Tools and Tech Stack I Use</a>- <i>coming soon</i></li>
</ul>
</p>

<h2>Free & Purchasable Books, Courses, &amp; Articles</h2>

<p>Below is a comprehensive guide of all the resources I have collected that has helped me learn software programming, computer science, and web development. It's not 100% complete (I don't think it ever will be) but check back often for updates. If you have any recommendations on a resource that should be here, please tweet me.</p>

<p>Most of the resources below are free but others must be purchased. The free resources are labeled as free. I have provided links to where you can purchase the others.</p>

<h2>Foundations of Computer Science</h2><a name="computer-science"></a>

<p>
If you want to write and talk computer, you must have the foundational knowledge of computer science. This knowledge is vital because when you confront complex problems you'll need to know how to solve them.
<ul>
  <li><a href="https://www.youtube.com/view_play_list?p=84A56BC7F4A1F852" target="_blank">Programming Methodology</a>- free Youtube course by Professor Mehran Sahami at Stanford University for CS106A: Programming Methodology. The course is an Introduction to the engineering of computer applications emphasizing modern software engineering principles: object-oriented design, decomposition, encapsulation, abstraction, and testing.</li>
  <li><a href="https://www.youtube.com/view_play_list?p=FE6E58F856038C69" target="_blank">Programming Abstractions</a>- free Youtube course by Professor Julie Zelenski at Stanford University for CS106B: Programming Abstractions in C++. This course uses the C++ language to teach the material but it's not a course about the language but rather topics such as recursion, algorithmic analysis, and data abstraction.</li>
  <li><a href="https://www.youtube.com/view_play_list?p=9D558D49CA734A02" target="_blank">Programming Paradigms</a>- free Youtube course by Professor Jerry Cain at Stanford University for CS107: Programming Paradigms. The course aims to teach students how to write code for each of these individual languages and to understand the programming paradigms behind these languages.</li>
  <li><a href="<F28>http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/" target="_blank">MIT Open Courseware- Computer Science</a>- MIT's free online computer science courses that covers introductory to advanced courses in computer science.
  <ul>
    <li><a href="https://www.youtube.com/watch?v=k6U-i4gXkLM" target="_blank">Introduction to Computer Science and Programming at MIT</a>- free Youtube course by Professor Guttag covered in Python. Professor Guttag's course textbook is called <a href="http://amzn.to/28Ydi8y" target="_blank">Introduction to Computation and Programming Using Python</a></li>
  </ul>
  </li>
  <li><a href="http://interactivepython.org/runestone/static/pythonds/index.html" target="_blank">Problem Solving with Algorithms and Data Structures</a>- free online textbook by Bradley Miller and David Ranum that covers algorithms and data structures in Python.</li>
  <li><a href="http://amzn.to/29fA1TQ" target="_blank">Data Structures and Algorithmic Thinking with Python</a>- book by Narasimha Karumanchi that has 4.5 out of 5 stars with 61 reviews on Amazon. Understanding data structures and algorithms will help you develop efficient and effective solutions to problems.</li>
  <li><a href="http://amzn.to/29fp95O" target="_blank">Introduction to Algorithms</a>- although this book isn't in Python it's the most recommended book on algorithms.
    <ul>
      <li><a href="https://www.youtube.com/playlist?list=PLUl4u3cNGP61Oq3tWYp6V_F-5jb5L2iHb" target="_blank">Introduction to Algorithms</a>- free Youtube video course at MIT based on the book above.</li>
    </ul>
  </li>
</ul>
</p>

<h2>Command Line, Git &amp; Github</h2><a name="git"></a><a name="command-line"></a>

<p>
Git is a verson control system and Github is a web-based Git repository hosting service. While Git is a command line tool, GitHub provides a graphical interface. Basically you use Git to track, add and revert code changes. Github is where you'd host these changes. Github and Git backs up your code with the power of viewing, editing, adding, removing, and collaborating on your own or your team's past, present and future code.
<ul>
  <li><a href="http://cli.learncodethehardway.org/book/" target="_blank">Learn Command Line the Hard Way</a>- free online textbook by Zed Shaw</li>
  <li><a href="https://git-scm.com/book/en/v2" target="_blank">Pro Git</a>- open source online book. Probably my favorite resource for learning Git.</li>
  <li><a href="https://git-scm.com/documentation" target="_blank">Git Documentation</a></li>
  <li><a href="http://rogerdudler.github.io/git-guide/" target="_blank">Git Guide</a>- a simple git guide by Roger Dudler. It doesn't cover everything but it's a quick tutorial to get you on the right track.</li> 
  <li><a href="https://guides.github.com" target="_blank">Github Documentation</a></li>
</ul>
</p>

<h2>Python</h2><a name="python"></a>

<p>
  Learning Python resources
<ul>
  <li><a href="http://www.diveintopython3.net" target="_blank">Dive Into Python 3</a>- free online textbook by Mark Pilgrim. I loved his approach in this book.</li>
  <li><a href="http://amzn.to/29llGRk" target="_blank">Starting Out in Python</a>- book by Tony Gaddis</li>
  <li><a href="http://amzn.to/29cp02t" target="_blank">Learning Python</a>- deep introduction into the Python language. This book is huge but it covers it all. It will take a long time to finish but it's worth it.</li>
  <li><a href="http://amzn.to/295hdUT" target="_blank">Fluent Python</a>- book by Luciano Ramalho. If you find yourself asking, "I've learned the basics of Python where do I go next?" If you haven't read Learning Python, this book should be next.</li>
  <li><a href="http://amzn.to/295hjMn" target="_blank">Effective Python</a>- book by Brett Slatkin based on the 'Effective LANGUAGE-HERE' series but in Python. If you think you write good Python, give this book a try. I bet it will make you write better Pythonic code.</li>
  <li><a href="http://openbookproject.net/thinkcs/python/english3e/index.html" target="_blank">Think Python</a>- free online book by Allen Downey. I have yet to read this one, partly because I've read the others above, but the title "Think Python: How to Think Like a Computer Scientist" implies it all. Since your coding in the language of computers it's important to think like a computer. With that in mind you'll write great code.</li>
  <li><a href="http://amzn.to/29jUZyy" target="_blank">Python 3 Object Oriented Programming</a>- Python is an Object-Oriented Programming language (OOP). It's important to implement this paradigm or your code can get messy.</li>
</ul>
</p>

<h2>Elixir and Erlang</h2><a name="elixir"></a>

<p>
<ul>
  <li><a href="http://elixir-lang.org" target="_blank">Elixir documentation and guides</a></li>
  <li><a href="https://github.com/keithalpichi/practical-elixir" target="_blank">Practical Elixir</a>- free online exercises to learning Elixir made by yours truly</li>
  <li><a href="https://elixirschool.com" target="_blank">Elixirschool.com</a>- free online lessons about Elixir</li>
  <li><a href="http://amzn.to/2bqhvDJ" target="_blank">Elixir in Action</a>- Book by Sasa Juric. An excellent follow-up resource to the Elixir docs.</li>
  <li><a href="http://learnyousomeerlang.com" target="_blank">Learn You Some Erlang</a>- free online book on Erlang.</li>
  <li><a href="http://amzn.to/2bqfYAh" target="_blank">Designing for Scalability with Erlang/OTP</a>- Book by Francesco Cesarini and Steve Vinoski that covers OTP and implementing robust, fault-tolerant systems</li>
</ul>
</p>

<h2>Ruby</h2><a name="ruby"></a>

<p>
<ul>
  <li><a href="http://ruby-doc.org" target="_blank">Ruby documentation</a></li>
  <li><a href="http://amzn.to/2f0KD6Y" target="_blank">Eloquent Ruby</a></li>
  <li><a href="http://amzn.to/2fEVOD7" target="_blank">Practical Object-Oriented Design in Ruby</a></li>
</ul>
</p>

<h2>Javascript</h2><a name="javascript"></a>

<p>
<ul>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">Javascript documentation</a></li>
  <li><a href="http://eloquentjavascript.net" target="_blank">Eloquent Javascript</a></li>
  <li><a href="http://amzn.to/2fJmSzZ" target="_blank">Learning Javascript</a></li>
</ul>
</p>

<h2>Practice Your Programming Language</h2><a name="practice"></a>

<p>
There are plenty of websites that allow you to practice your language and improve your skills by solving problems. Here are some good ones:
<ul>
  <li><a href="https://www.codewars.com" target="_blank">Codewars</li>
  <li><a href="https://codefights.com" target="_blank">Codefights</li>
  <li><a href="http://exercism.io" target="_blank">Exercism.io</li>
  <li><a href="<F28>https://www.hackerrank.com" target="_blank">Hackerrank</li>
</ul>
</p>

<h2>Client/Frontend Web Development- HTML, CSS, Javascript, &amp; Design</h2><a name="frontend"></a>

<p>
If you're going to build an application/program that the user must interact with then you're going to have to learn client/frontend (the user) development. HTML, CSS, and Javascript (JS) are the foundational languages for this. All websites use these three languages.
<ul>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP" target="_blank">HTTP Protocol</a>- free guides from Mozilla explaining the HTTP protocol- the foundation of the internet. It is required to know this before jumping into web development.</li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Learn" target="_blank">Learning Web Development</a>- free guides from Mozilla about the fundamentals of web development- HTML, CSS and Javascript.</li>
  <li><a href="http://amzn.to/29bVLNX" target="_blank">HTML and CSS: Design and Build Websites</a>- a book from Jon Ducket. 884 reviews 4.5 out of 5 stars on Amazon. The layout and visuals in this book are well done. It makes it easy to learn the fundamentals of HTML and CSS.</li>
  <li><a href="https://www.codecademy.com/learn/web" target="_blank">HTML &amp; CSS</a>- free course from Codecademy</li>
  <li><a href="http://www.w3schools.com/html/" target="_blank">HTML course</a> free course from W3Schools.com</li>
  <li><a href="http://alistapart.com/about" target="_blank">AListApart.com</a>- is a blogging website for people who make websites. A List Apart explores the design, development, and meaning of web content.</li>
  <li> Javascript libraries and frameworks:
    <ul>
      <li><a href="http://jquery.com" target="_blank">jQuery</a>- a Javascript library that makes writing Javascript code easier by writing less. jQuery is a little old but it's an easy implementation to add behavior to user interfaces. Take it a step further and learn the React library or a framework below.</li>
      <li><a href="https://facebook.github.io/react/index.html" target="_blank">React</a>- a Javascript library built by Facebook that uses the concepts of components and virtual DOM to simplify the process of building user interfaces.</li>
      <li>Besides these two libraries there are frameworks such as Angular.js, Ember.js, and Backbone.js.</li>
    </ul>
  </li>
</ul>
</p>

<h2>Mobile Development</h2><a name="mobile"></a>

<p>
<ul>
  <li>iOS and OSX (Apple devices)
    <ul>
      <li>Swift and Objective-C are the languages you'll want to learn.</li>
      <li><a href="http://amzn.to/2eQq6V2" target="_blank">Swift Programming: The Big Nerd Ranch Guide</a></li>
    </ul>
  </li>
  <li>Android
    <ul>
      <li>Java is the language you'll want to learn.</li>
      <li><a href="http://amzn.to/2fYh4b5" target="_blank">Android Programming: The Big Nerd Ranch Guide</a></li>
    </ul>
  </li>
</ul>
</p>

<h2>Backend/Server Web Development in Python</h2><a name="flask"></a>

<p>
<ul>
  <li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask Tutorials</a> free online tutorial by Miguel Grinberg. Last updated in 2014.</li>
  <li><a href="#">Flask Web Development</a> by Miguel Grinberg</li>
</ul>
</p>

<h2>Backend/Server Web Development in Elixir</h2><a name="phoenix"></a>

<p>
<ul>
  <li><a href="http://www.phoenixframework.org" target="_blank">Phoenix Web Framework</a></li>
  <li><a href="http://amzn.to/2c51hUW" target="_blank">Programming Phoenix</a>- a book by Chris McCord, Bruce Tate, Jose Valim</li>
</ul>
</p>

<h2>Backend/Server Web Development in Ruby</h2><a name="rails"></a>

<p>
<ul>
  <li><a href="http://guides.rubyonrails.org" target="_blank">Ruby on Rails guides and documentation</a></li>
  <li><a href="https://www.railstutorial.org/book" target="_blank">Ruby on Rails Tutorial</a>- free online book by Michael Hartl</li>
</ul>
</p>


<h2>Databases- SQL, SQLAlchemy, PostgreSQL</h2><a name="db"></a>

<p>
When your application has to save data such as user's information (i.e., name, address, etc.), game information (i.e., wins, losses, points, money, etc), you use a database. SQL stands for Structured Query Language and is used to manage this data in a relational database management system (RDBMS) such as PostgreSQL, MySQL, Oracle, and more. 
</p>
<p>
You'd use SQLAlchemy as a wrapper around the RDBMS to use Python classes and methods to represent SQL tables and queries. SQLAlchemy makes it easier to interact with the data in the RDBMS. 
</p>
<p>
<ul>
  <li><a href="http://sql.learncodethehardway.org/book/" target="_blank">Learn SQL the Hard Way</a> free online textbook by Zed Shaw</li>
  <li><a href="https://www.postgresql.org/docs/9.5/static/index.html" target="_blank">PostgreSQL Documentation</a>- a relational database</li>
  <li><a href="http://docs.sqlalchemy.org/en/latest/" target="_blank">SQLAlchemy Documentation</a>- an object relation mapper for working with databases and Python.</li>
</ul>
</p>

<h2>Deployment</h2><a name="deployment"></a>

<p>
Once you've got an application that you'd like to serve to the world it's time to deploy it. But how? Look below.
<ul>
  <li><a href="https://www.fullstackpython.com" target="_blank">Fullstackpython.com</a>- a complete resource on the necessary skills and technologies to be a well-rounded Python developer.</li> 
  <li><a href="http://www.deploypython.com" target="_blank">Full Stack Python Guide to Deployment</a> by Matthew Makai. The go-to resource to get your Python application built, deployed and managed in the cloud.</li>
  <li><a href="https://aws.amazon.com/documentation/" target="_blank">Amazon Web Services Documentation</a>- Although these docs feel like you're lost in the Amazon (pun intended), they are really good at giving you the information you're looking for. If you use AWS with your Python app, you're most likely going to use <a href="https://boto3.readthedocs.io/en/latest/" target="_blank">Boto3</a>- the AWS SDK for Python</li>
  <li><a href="http://amzn.to/29lorm0" target="_blank">Amazon Web Services in Action</a>- a book by Andreas Wittig that is a great introduction to AWS. You'll learn about the best practices regarding security, high availability and scalability.</li>
</ul>
</p>

<p>
  If you have an application that you'd like deployed quickly without the hassle of setting up servers then Heroku or AWS's Elastic Beanstalk may be for you.
  <li><a href="https://aws.amazon.com/documentation/elastic-beanstalk/" target="_blank">Elastic Beanstalk</a></li>
  <li><a href="https://devcenter.heroku.com/categories/python" target="_blank">Heroku Documentation</a></li>
</p>

<h2>Career and Interview Preparation</h2>

<p>
If you want to achieve a career in software programming you need to prove you have the skills and experience to code. As a self-taught programmer without formal education you must show employers your projects and contributions to the industry. This, along with attending conferences and meetups, is most effective way for a self-taught programmer to gain exposure and ultimately get an interview.
</p>

<p>
When you have built a few personal projects and have contributed to open-source projects the next steps is to prepare for a future interview. The most popular resources for interview preparation are:
<ul>
  <li><a href="http://amzn.to/29gaWqt" target="_blank">Cracking the Coding Interview</a></li>
  <li><a href="http://amzn.to/29p9rHE" target="_blank">Programming Interviews Exposed</a></li>
  <li><a href="#computer-science">Introduction to Algorithms</a></li>
</ul>
</p>

<h1>Resource Recommendation?</h1>
<p>If you have any recommendations on a resource that should be here, please tweet me or comment below.</p>

{% include disqus.html %}
{% include footer.html %}
