---
profile: true
permalink: resources/
---

<h1 class="header">Resources</h1>
<h2 class="header">for self-taught programmers</h2>
<br/>

{% include resource-getting-started.html %}

<h2>Free &amp; Purchasable Books, Courses, &amp; Articles</h2>

<p>Below is a comprehensive guide of all the resources I have collected that has helped me learn software programming, computer science, and web development. It's not 100% complete (I don't think it ever will be) but check back often for updates. If you have any recommendations on a resource that should be here, please tweet me.</p>

<p>Most of the resources below are free but others must be purchased. The free resources are labeled as free. I have provided links to where you can purchase the others.</p>

{% include resource-computer-science.html %}
{% include resource-command-line.html %}
{% include resource-python.html %}
{% include resource-elixir-erlang.html %}
{% include resource-ruby.html %}
{% include resource-javascript.html %}
{% include resource-practice.html %}
{% include resource-frontend.html %}
{% include resource-mobile.html %}
{% include resource-flask.html %}
{% include resource-phoenix.html %}
{% include resource-rails.html %}
{% include resource-db.html %}
{% include resource-deployment.html %}
{% include resource-interview-prep.html %}

<h1>Resource Recommendation?</h1>
<p>If you have any recommendations on a resource that should be here, please tweet me or comment below.</p>

{% include disqus.html %}
{% include footer.html %}
