---
profile: true
permalink: resources/
---

<h1 class="header">Resources</h1>
<h2 class="header">for self-taught programmers</h2>
<br/>

{% include resources/getting-started.html %}

<h2>Free &amp; Purchasable Books, Courses, &amp; Articles</h2>

<p>Below is a comprehensive guide of all the resources I have collected that has helped me learn software programming, computer science, and web development. It's not 100% complete (I don't think it ever will be) but check back often for updates. If you have any recommendations on a resource that should be here, please tweet me.</p>

<p>Most of the resources below are free but others must be purchased. The free resources are labeled as free. I have provided links to where you can purchase the others. All resources on this page I have used personally and/or have been suggested by the community.</p>

<h2>Table of Contents</h2>
<p>
<ul>
  <li><a href="#computer-science">Foundations of Computer Science</a></li>
  <li><a href="#command-line">Command Line, Git &amp; Github</a></li>
  <li><a href="#python">Python</a></li>
  <li><a href="#elixir">Elixir &amp; Erlang</a></li>
  <li><a href="#ruby">Ruby</a></li>
  <li><a href="#javascript">Javascript</a></li>
  <li><a href="#practice">Problem Solving Practice</a></li>
  <li><a href="#frontend">Web Front-end/Client- HTML, CSS, JS</a></li>
  <li><a href="#mobile">Mobile Development</a></li>
  <li><a href="#flask">Flask- Python Web Framework</a></li>
  <li><a href="#phoenix">Phoenix- Elixir Web Framework</a></li>
  <li><a href="#rails">Rails- Ruby Web Framework</a></li>
  <li><a href="#db">Databases</a></li>
  <li><a href="#deployment">Deployment</a></li>
  <li><a href="#interview-prep">Interview Preparation</a></li>
</ul>
</p>

{% include resources/computer-science.html %}
{% include resources/command-line.html %}
{% include resources/python.html %}
{% include resources/elixir-erlang.html %}
{% include resources/ruby.html %}
{% include resources/javascript.html %}
{% include resources/practice.html %}
{% include resources/frontend.html %}
{% include resources/mobile.html %}
{% include resources/flask.html %}
{% include resources/phoenix.html %}
{% include resources/rails.html %}
{% include resources/db.html %}
{% include resources/deployment.html %}
{% include resources/interview-prep.html %}

<h1>Resource Recommendation?</h1>
<p>If you have any recommendations on a resource that should be here, please tweet me or comment below.</p>

{% include disqus.html %}
{% include footer.html %}
