<div class="profile">
    <section id="wrapper">
        <header id="header">
            <p>
            <a href="{{ site.baseurl }}">
              <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar-ka.png"/></a>
            <h1>Keith Alpichi</h1>
            <h2>{{ site.description }}</h2>
            <a href="https://twitter.com/intent/tweet?screen_name=keithalpichi" class="twitter-mention-button" id="twitter-button" data-size="large" data-related="keithalpichi">Tweet to @keithalpichi</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> 
            </p>
            <p>
            <a href="{{ site.linkedin_url }}" target="_blank"><i class="fa fa-linkedin-square linkedin fa-2x" aria-hidden="true"></i></a>
            <a href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter-square twitter fa-2x" aria-hidden="true"></i></a>
            <a href="{{ site.github_url }}" target="_blank"><i class="fa fa-github-square github fa-2x" aria-hidden="true"></i></a>
            <a href="{{ site.stackoverflow_url }}" target="_blank"><i class="fa fa-stack-overflow stackoverflow fa-2x" aria-hidden="true"></i></a>
            </p>
        </header>
    </section>
</div>
