<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href="{{ site.baseurl }}">
              <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar-ka.png"/></a>
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
            <a href="https://twitter.com/intent/tweet?screen_name=KeithAlpichi" class="twitter-mention-button" id="twitter-button" data-size="large" data-related="KeithAlpichi">Tweet to @KeithAlpichi</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> 
            <!--
            <a class="twitter" href="https://twitter.com/intent/tweet?text={{ site.domain_name }}{{ page.url }} - {{page.title}} by @{{ site.authorTwitter }}"><span class="icon-twitter"> Tweet</span></a>
            <a href="{{ site.myTwitter }}"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
            <a href="{{ site.myLinkedin }}"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
            -->
        </header>
    </section>
</div>
