<h2>Backend/Server Web Development in Python</h2><a name="flask"></a>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">Flask Mega Tutorials</a></td>
    <td>online tutorial by Miguel Grinberg. Last updated in 2014.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="#" target="_blank">Flask Web Development</a></td>
    <td>Book by Miguel Grinberg that is based on the free tutorials on his website.</td>
    <td>No</td>
  </tr>
</table>