<h2>Practice Your Programming Language</h2><a name="practice"></a>
<p>
There are plenty of websites that allow you to practice your language and improve your skills by solving problems. Here are some good ones:
</p>

<table>
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://exercism.io" target="_blank">Exercism.io<a/></td>
    <td>Learn a language by completing practical problems</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://www.codewars.com" target="_blank">Codewars</a></td>
    <td>Learn a language by completing practical problems</td>
    <td>Yes</td>
  </tr>
</table>