<h2>Javascript</h2><a name="javascript"></a>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">Javascript documentation</a></td>
    <td>Excellent guides and reference for everything Javascript</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://eloquentjavascript.net" target="_blank">Eloquent Javascript</a></td>
    <td>Online book covering all of Javascript</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/2fJmSzZ" target="_blank">Learning Javascript</a></td>
    <td>In-depth coverage of Javascript ES6</td>
    <td>No</td>
  </tr>
</table>