<h2>Backend/Server Web Development in Ruby</h2><a name="rails"></a>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://guides.rubyonrails.org" target="_blank">Ruby on Rails guides and documentation</a></td>
    <td></td>
    <td>Yes</td>
  </tr>
   <tr>
    <td><a href="https://www.railstutorial.org/book" target="_blank">Ruby on Rails Tutorial</a></td>
    <td>Online book by Michael Hartl covering everything Rails</td>
    <td>Yes</td>
  </tr>
</table>