<h2>Elixir and Erlang</h2><a name="elixir"></a>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://elixir-lang.org" target="_blank">Elixir documentation and guides</a></td>
    <td>Elixir's Getting Started guides and documentation. Perfect place to start if you're new to Elixir.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://github.com/keithalpichi/practical-elixir" target="_blank">Practical Elixir</a></td>
    <td>Online exercises to learning Elixir made by yours truly</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://elixirschool.com" target="_blank">Elixirschool.com</a></td>
    <td>Online lessons about Elixir</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/2bqhvDJ" target="_blank">Elixir in Action</a></td>
    <td>Book by Sasa Juric. An excellent follow-up resource to the Elixir docs.</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://learnyousomeerlang.com" target="_blank">Learn You Some Erlang</a></td>
    <td>Online book on Erlang. Not necessary to learn Elixir but it's helpful.</td>
    <td>Yes</td>
  </tr>  
  <tr>
    <td><a href="http://amzn.to/2bqfYAh" target="_blank">Designing for Scalability with Erlang/OTP</a></td>
    <td>Book by Francesco Cesarini and Steve Vinoski that covers OTP and implementing robust, fault-tolerant systems</td>
    <td>No</td>
  </tr>
</table>