<h2>Mobile Development</h2><a name="mobile"></a>

<p>iOS and OSX (Apple)- Swift and Objective-C are the languages you'll want to learn.</p>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://amzn.to/2eQq6V2" target="_blank">Swift Programming: The Big Nerd Ranch Guide</a></td>
    <td>Complete guide to Swift and iOS provided by the team at Big Nerd Ranch</td>
    <td>No</td>
  </tr>
</table>

<p>Android- Java is the language you'll want to learn.</p>
<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://amzn.to/2fYh4b5" target="_blank">Android Programming: The Big Nerd Ranch Guide</a></td>
    <td>Complete guide to Android development provided by the team at Big Nerd Ranch</td>
    <td>No</td>
  </tr>
</table>