<h2>Databases- SQL, SQLAlchemy, PostgreSQL</h2><a name="db"></a>

<p>
When your application has to save data such as user's information (i.e., name, address, etc.), game information (i.e., wins, losses, points, money, etc), you use a database. SQL stands for Structured Query Language and is used to manage this data in a relational database management system (RDBMS) such as PostgreSQL, MySQL, Oracle, and more. 
</p>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://sql.learncodethehardway.org/book/" target="_blank">Learn SQL the Hard Way</a></td>
    <td>Online textbook by Zed Shaw covering the fundamentals of SQL.</td>
    <td>Yes</td>
  </tr>
   <tr>
    <td><a href="https://www.postgresql.org/docs/9.5/static/index.html" target="_blank">PostgreSQL Documentation</a></td>
    <td>Documentation on a widely-used relational database</td>
    <td>Yes</td>
  </tr>
   <tr>
    <td><a href="http://docs.sqlalchemy.org/en/latest/" target="_blank">SQLAlchemy Documentation</a></td>
    <td>An object relation mapper for working with databases and Python. You'd use SQLAlchemy as a wrapper around the RDBMS to use Python classes and methods to represent SQL tables and queries. SQLAlchemy makes it easier to interact with the data in the RDBMS.</td>
    <td>Yes</td>
  </tr>
</table>