<h2>Python</h2><a name="python"></a>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://www.diveintopython3.net" target="_blank">Dive Into Python 3</a></td>
    <td>Online textbook by Mark Pilgrim. I loved his approach in this book.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/29llGRk" target="_blank">Starting Out in Python</a></td>
    <td>Book by Tony Gaddis</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/29cp02t" target="_blank">Learning Python</a></td>
    <td>A deep introduction into the Python language. This book is huge but it covers it all. It will take a long time to finish but it's worth it.</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/295hdUT" target="_blank">Fluent Python</a></td>
    <td>Book by Luciano Ramalho. If you find yourself asking, "I've learned the basics of Python where do I go next?" If you haven't read Learning Python, this book should be next.</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/295hjMn" target="_blank">Effective Python</a></td>
    <td>Book by Brett Slatkin based on the 'Effective [LANGUAGE]' series but in Python. If you think you write good Python, give this book a try. I bet it will make you write better Pythonic code.</td>
    <td>No</td>
  </tr>
 <tr>
    <td><a href="http://openbookproject.net/thinkcs/python/english3e/index.html" target="_blank">Think Python</a></td>
    <td>Online book by Allen Downey. I have yet to read this one, partly because I've read the others above, but the title "Think Python: How to Think Like a Computer Scientist" implies it all. Since your coding in the language of computers it's important to think like a computer. You'll write great code because of it.</td>
    <td>Yes</td>
  </tr>
<tr>
    <td><a href="http://amzn.to/29jUZyy" target="_blank">Python 3 Object Oriented Programming</a></td>
    <td>Python is an Object-Oriented Programming language (OOP). It's important to implement this paradigm or your code can get messy.</td>
    <td>No</td>
  </tr>
</table>