<h2>Command Line, Git &amp; Github</h2><a name="git"></a><a name="command-line"></a>
<p>
Git is a verson control system and Github is a web-based Git repository hosting service. While Git is a command line tool, GitHub provides a graphical interface. Basically you use Git to track, add and revert code changes. Github is where you'd host these changes. Github and Git backs up your code with the power of viewing, editing, adding, removing, and collaborating on your own or your team's past, present and future code.
</p>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://cli.learncodethehardway.org/book/" target="_blank">Learn Command Line the Hard Way</a></td>
    <td>Online textbook by Zed Shaw covering the fundamentals of the command line. You'll be using this everyday so get used to it!</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://git-scm.com/book/en/v2" target="_blank">Pro Git</a></td>
    <td>Open source online book. Probably my favorite resource for learning Git.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://git-scm.com/documentation" target="_blank">Git Documentation</a></td>
    <td>Git reference</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://rogerdudler.github.io/git-guide/" target="_blank">Git Guide</a></td>
    <td>A simple git guide by Roger Dudler. It doesn't cover everything but it's a quick tutorial to get you on the right track.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://guides.github.com" target="_blank">Github Documentation</a></td>
    <td>Online guides incorporating Git and Github.</td>
    <td>Yes</td>
  </tr>
</table>