<h2>Foundations of Computer Science</h2><a name="computer-science"></a>
<p>
If you want to write and talk computer, you must have the foundational knowledge of computer science. This knowledge is vital because when you confront complex problems you'll need to know how to solve them.
</p>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
     <td><a href="https://www.youtube.com/view_play_list?p=84A56BC7F4A1F852" target="_blank">Programming Methodology</a></td>
     <td>Youtube course by Professor Mehran Sahami at Stanford University for CS106A: Programming Methodology. The course is an Introduction to the engineering of computer applications emphasizing modern software engineering principles: object-oriented design, decomposition, encapsulation, abstraction, and testing.</td>
     <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://www.youtube.com/view_play_list?p=FE6E58F856038C69" target="_blank">Programming Abstractions</a></td>
    <td>Youtube course by Professor Julie Zelenski at Stanford University for CS106B: Programming Abstractions in C++. This course uses the C++ language to teach the material but it's not a course about the language but rather topics such as recursion, algorithmic analysis, and data abstraction.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://www.youtube.com/view_play_list?p=9D558D49CA734A02" target="_blank">Programming Paradigms</a></td>
    <td>Youtube course by Professor Jerry Cain at Stanford University for CS107: Programming Paradigms. The course aims to teach students how to write code for each of these individual languages and to understand the programming paradigms behind these languages.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="<http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/" target="_blank">MIT Open Courseware- Computer Science</a></td>
    <td>MIT's online computer science courses that covers introductory to advanced courses in computer science.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://www.youtube.com/watch?v=k6U-i4gXkLM" target="_blank">Introduction to Computer Science and Programming at MIT</a></td>
    <td>Youtube course by Professor Guttag covered in Python. Professor Guttag's course textbook is called <a href="http://amzn.to/28Ydi8y" target="_blank">Introduction to Computation and Programming Using Python</a></td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://interactivepython.org/runestone/static/pythonds/index.html" target="_blank">Problem Solving with Algorithms and Data Structures</a></td>
    <td>Online textbook by Bradley Miller and David Ranum that covers algorithms and data structures in Python.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/29fA1TQ" target="_blank">Data Structures and Algorithmic Thinking with Python</a></td>
    <td>Book by Narasimha Karumanchi that has 4.5 out of 5 stars with 61 reviews on Amazon. Understanding data structures and algorithms will help you develop efficient and effective solutions to problems.</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/29fp95O" target="_blank">Introduction to Algorithms</a></td>
    <td>The most recommended book on algorithms. <a href="https://www.youtube.com/playlist?list=PLUl4u3cNGP61Oq3tWYp6V_F-5jb5L2iHb" target="_blank">Introduction to Algorithms</a>- Youtube video course at MIT based on this book.</td>
    <td>No/Yes</td>
  </tr>
</table>