<h2>Deployment</h2><a name="deployment"></a>

<p>
Once you've got an application that you'd like to serve to the world it's time to deploy it. But how? See below.
</p>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="https://www.fullstackpython.com" target="_blank">Fullstackpython.com</a></td>
    <td>A complete resource on the necessary skills and technologies to be a well-rounded Python developer.</td>
    <td>Yes</td>
  </tr>
   <tr>
    <td><a href="http://www.deploypython.com" target="_blank">Full Stack Python Guide to Deployment</a></td>
    <td>Book by Matthew Makai. The go-to resource to get your Python application built, deployed and managed in the cloud.</td>
    <td>No</td>
  </tr>
   <tr>
    <td><a href="https://aws.amazon.com/documentation/" target="_blank">Amazon Web Services Documentation</a></td>
    <td>Although these docs feel like you're lost in the Amazon (pun intended), they are really extensive. If you use AWS with your Python app, you're most likely going to use <a href="https://boto3.readthedocs.io/en/latest/" target="_blank">Boto3</a>- the AWS SDK for Python
    </td>
    <td>Yes</td>
  </tr>
    <tr>
    <td><a href="http://amzn.to/29lorm0" target="_blank">Amazon Web Services in Action</a></td>
    <td>A book by Andreas Wittig that is a great introduction to AWS. You'll learn about the best practices regarding security, high availability and scalability.</td>
    <td>No</td>
  </tr>
</table>

<p>
  If you have an application that you'd like deployed quickly without the hassle of setting up servers then Heroku or AWS's Elastic Beanstalk may be for you.
  <li><a href="https://aws.amazon.com/documentation/elastic-beanstalk/" target="_blank">Elastic Beanstalk</a></li>
  <li><a href="https://devcenter.heroku.com/categories/python" target="_blank">Heroku Documentation</a></li>
</p>