<h2>Client/Front-end Web Development- HTML, CSS, Javascript, &amp; Design</h2><a name="frontend"></a>
<p>
If you're going to build an application/program that the user must interact with then you're going to have to learn client/frontend (the user) development. HTML, CSS, and Javascript (JS) are the foundational languages for this. All websites use these three languages.
</p>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP" target="_blank">HTTP Protocol</a></td>
    <td>Guides from Mozilla explaining the HTTP protocol- the foundation of the internet. It is required to know this before jumping into web development.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://developer.mozilla.org/en-US/docs/Learn" target="_blank">Learning Web Development</a></td>
    <td>Guides from Mozilla about the fundamentals of web development- HTML, CSS and Javascript.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/29bVLNX" target="_blank">HTML and CSS: Design and Build Websites</a></td>
    <td>a book from Jon Ducket. 884 reviews 4.5 out of 5 stars on Amazon. The layout and visuals in this book are well done. It makes it easy to learn the fundamentals of HTML and CSS.</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://alistapart.com/about" target="_blank">AListApart.com</a></td>
    <td>A blogging website for people who make websites. A List Apart explores the design, development, and meaning of web content.</td>
    <td>Yes</td>
  </tr>  
</table>
<p>
Javascript libraries and frameworks:
</p>
<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://jquery.com" target="_blank">jQuery</a></td>
    <td>A Javascript library that makes writing Javascript code easier by writing less. jQuery is a little old but it's an easy implementation to add behavior to user interfaces. Take it a step further and learn the React library or a framework below.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://facebook.github.io/react/index.html" target="_blank">React</a></td>
    <td>A Javascript library built by Facebook that uses the concepts of components and virtual DOM to simplify the process of building user interfaces.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Other</td>
    <td>Besides these two libraries there are frameworks such as Angular.js, Ember.js, and Backbone.js.</td>
    <td>Yes</td>
  </tr>
</table>