<h2>Getting Started</h2><a name="getting-started"></a>
<p>
<ul>
  <li><a href="/about" target="_blank">[START HERE] My Goals for This Website</a></li>
  <li><a href="/timeline" target="_blank">Start On The Right Path- Learn From My Mistakes</a></li>
  <li><a href="{% post_url 2016-07-01-assumptions-myths-self-taught-programmer %}" target="_blank">Assumptions and Myths of Becoming A Self-Taught Programmer</a></li>
  <li><a href="{% post_url 2016-08-29-what-to-expect %}"target="_blank">What to Expect When Teaching Yourself to Code</a></li>
  <li><a href="{% post_url 2016-06-30-guideline-self-taught-programmer %}" target="_blank">The Guideline to Being a Self-Taught Programmer</a></li>
  <li><a href="{% post_url 2016-06-28-why-choose-python %}" target="_blank">Why I Chose Python as My First Language</a></li>
  <li><a href="{% post_url 2016-11-11-developer-bootcamp-research-review %}" target="_blank">Should you Attend a Developer Bootcamp?</a></li>
  <li><a href="#">The Developer Tools and Tech Stack I Use</a>- <i>coming soon</i></li>
</ul>
</p>