<h2>Career and Interview Preparation</h2><a name="interview-prep"></a>

<p>
If you want to achieve a career in software programming you need to prove you have the skills and experience to code. As a self-taught programmer without formal education you must show employers your projects and contributions to the industry. This, along with attending conferences and meetups, is most effective way for a self-taught programmer to gain exposure and ultimately get an interview.
</p>
<p>
When you have built a few personal projects and have contributed to open-source projects the next steps is to prepare for a future interview. The most popular resources for interview preparation are:
</p>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://amzn.to/29fp95O">Introduction to Algorithms</a></td>
    <td>Go-to resource for solidying your knowledge of algorithms</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/29gaWqt" target="_blank">Cracking the Coding Interview</a></td>
    <td>Go-to resource to help a software engineer perform well before, during and after a technical interview.</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/29p9rHE" target="_blank">Programming Interviews Exposed</a></td>
    <td>Similar to Cracking the Coding Interview</td>
    <td>No</td>
  </tr>
</table>
