<h2>Javascript</h2><a name="javascript"></a>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">Javascript documentation</a></td>
    <td>Excellent guides and reference for everything Javascript</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://eloquentjavascript.net" target="_blank">Eloquent Javascript</a></td>
    <td>Online book covering all of Javascript</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://github.com/getify/You-Dont-Know-JS" target="_blank">You Don't Know JS</a></td>
    <td>Online book series diving deep into the core mechanisms of the JavaScript languages.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://read.humanjavascript.com" target="_blank">Human Javascript</a></td>
    <td>A book about a specific set of tools, patterns, and approaches in Javascript optimized for humans.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="https://leanpub.com/understandinges6/read" target="_blank">Understanding ES6</a></td>
    <td>Online book covers the most recent release of ECMAScript 6</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/2fJmSzZ" target="_blank">Learning Javascript</a></td>
    <td>In-depth coverage of Javascript ES6</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="https://github.com/ericdouglas/ES6-Learning" target="_blank">ES6-Learning</a></td>
    <td>Links to many ES6 resources</td>
    <td>Yes</td>
  </tr>
</table>
