<h2>Backend/Server Web Development in Elixir</h2><a name="phoenix"></a>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="http://www.phoenixframework.org" target="_blank">Phoenix Web Framework</a></td>
    <td>Phoenix's getting started guides and documentation</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/2c51hUW" target="_blank">Programming Phoenix</a></td>
    <td>A book by Chris McCord, Bruce Tate, Jose Valim about building a complete web application in Phoenix utilizing OTP</td>
    <td>No</td>
  </tr>
</table>