<h2>Ruby</h2><a name="ruby"></a>
<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Resource</th>
  <th>Description</th>
  <th>Free?</th>
 <tr>
    <td><a href="http://ruby-doc.org/gettingstarted" target="_blank">Ruby Getting Started Guides</a></td>
    <td>Introduction to the language</td>
    <td>Yes</td>
  <tr>
    <td><a href="http://ruby-doc.org" target="_blank">Ruby documentation</a></td>
    <td>Ruby reference</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/2f0KD6Y" target="_blank">Eloquent Ruby</a></td>
    <td>In this book Russ Olsen explains the Ruby way to write Ruby code.</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a href="http://amzn.to/2fEVOD7" target="_blank">Practical Object-Oriented Design in Ruby</a></td>
    <td>Writing object-oriented code in Ruby</td>
    <td>No</td>
  </tr>
</table>