<h2>Text Editors</h2><a name="text-editors"></a>

<p>
  What program should you code in? There are many text editors out there but I recommend the following.
</p>

<table>
  <col width="20%">
  <col width="75%">
  <col width="5%">
  <th>Text Editor</th>
  <th>Description</th>
  <th>Free?</th>
  <tr>
    <td><a href="https://atom.io/" target="_blank">Atom</a></td>
    <td>
      An easily hackable (customizable) text editor built by Github with a built-in
      package manager so you can quickly install packages to your liking. <b>I currently use Atom
      and recommend it. I even made a <a href="https://atom.io/packages/terminate-syntax" target="_blank">theme</a> for it</b>
    </td>
    <td>Yes</td>
  </tr>
   <tr>
    <td><a href="https://www.sublimetext.com/" target="_blank">Sublime Text</a></td>
    <td>
      Sublime has been around before Atom has.
      They share similar features but Sublime has established itself in the industry
      as the most popular. It's also known to be faster than Atom.
    </td>
    <td>Yes</td>
  </tr>
   <tr>
    <td><a href="http://www.vim.org/git.php" target="_blank">Vim</a></td>
    <td>
      An upgrade to the old school 'vi' text editor.
      The biggest advantage of using Vim is that it's designed for use both from
      the command-line (Terminal) and as a standalone GUI text editor (so you don't have to switch between the two) and the
      ability to code fast and effectively by using keyboard shortcuts instead of using
      the mouse. Although it's fun to use and makes you a more efficient typer I'd recommend
      starting with one of the text editors above; especially if you're a beginner.
    </td>
    <td>Yes</td>
  </tr>
</table>
