<h4>July 2015- Swift</h4>

<p>I started with Swift, the Apple language for iOS mobile applications. I first got into programming because I wanted to build a mobile application. </p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>I wanted to build a mobile application and the beauty of frontend development was very enticing</td>
  </tr>
  	<td>What I thought</td>
  	<td>I thought I only needed to know Swift and the rest was magic. I was wrong. I learned I needed to use a backend language to implement a REST API. I could have used something like a backend provider that takes care of it but I was curious how to build a backend myself. I also wanted to build a business out of my mobile application and you're limited with backend providers.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>I wanted to build something big, so I was going to have to learn a backend language.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>If you work with a team or you want to specialize in frontend mobile/web development you can focus on the frontend language. If you want to be a full-stack developer you'll want to know both frontend and backend. If you want to build a company out of the application and you're part of a small team, you are going to have to learn a backend language. Otherwise, small applications that don't deal with a lot of data, traffic, etc. will do fine with a backend provider.</td>
  </tr>
</table>