<h4>September 2015- Ruby</h4>

<p>From what I read online the community is huge and it's widely used with the Rails web framework to build big web applications. I considered Ruby on Rails because of this and there was a local Ruby on Rails developer bootcamp that I was interested in.</p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>I am not too sure why I first pursued Ruby but I believe it was because of all the suggestions I got</td>
  </tr>
  	<td>What I thought</td>
  	<td>I was struggling to grasp the fundamentals of programming- data types, data structures, loops, control flow, etc.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>I had to focus not on a language but the basics of computer science and object-oriented programming (OOP).</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>Choose any language but focus on the fundamentals of computer science and OOP. Consider taking an introductory computer science course or visit the <a href="/resources" target="_blank">resource</a> page to watch the free Youtube course of MIT's Introduction to Computer Science and Programming.</td>
  </tr>
</table>