<h4>October 23rd 2015- Flask</h4>

<p>Flask- the web framework for Python.</p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>Since I needed to build a REST API I was recommended Flask</td>
  </tr>
  	<td>What I thought</td>
  	<td>The Flask framework is known for being minimal and flexible but still very powerful. I liked this and I can see why many teams big and small choose it. A team can build a backend very quickly</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>While learning Flask there were some things I had trouble fully understanding. Things like requests, decorators, working with databases, just to name a few. However, it wasn't Flask's fault it was my own. I didn't feel confident I knew all of Python and OOP to learn Flask.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>I can't stress enough the importance of understanding the fundamentals of computer science and OOP. Flask (and other frameworks like Django or Pyramid) just abstracts much of what's going on under the hood. So if you don't understand something dig deeper to understand it better. A simple Google search should provide many results to help you. Also, going back to the language's documentation is a good place to go. Before learning a framework make sure you're confident you know OOP and the language that it uses.</td>
  </tr>
</table>