<h4>October 9th, 2015- Python</h4>

<p>A close friend of mines who was pursuing a computer science degree suggested I try it.</p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>I didn't have a good experience with Ruby so I tried Python because I trusted my friend's recommendation.</td>
  </tr>
  	<td>What I thought</td>
  	<td>I instantly fell in love with it and <a href="{% post_url 2016-06-28-why-choose-python %}" target="_blank">there are so many reasons why I chose it</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>Python is amazing. If you haven't read the article above, go and read it now.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>You guessed it, start with Python.</td>
  </tr>
</table>