<h4>Late October 2015- Git</h4>

<p>Check the <a href="/resource">resource page for an explanation</a> of Git if you don't know what it is. </p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>Git is a requirement to know. Software programming is not software programming without it. So I needed to learn it sooner or later.</td>
  </tr>
  	<td>What I thought</td>
  	<td>The basics of Git are simple but if you're working with a team it can get pretty nasty if you don't understand how to use it.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>Git is a flexibile and powerful tool and I believe that is what makes it challenging to learn. Now that I think about it I fear working on a project with out using Git.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>Learn Git and a Git repository hosting service such as Github and/or Bitbucket. If you need to go back in time to edit your code, want to back up your code or collaborate with others on code you'll be using Git. You're digging yourself a grave if you don't.</td>
  </tr>
</table>