<h4>October 2016- Javascript</h4>

<p>Unfortunately I didn't get into Appacademy so I applied to Hackreactor the next day and started brushing up on my Javascript.</p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>The Appacademy interview was tough. I wasn't prepared as much as I though I was. Appacademy was nice to offer me a second chance to applying again but I couldn't do so for another month. Plus I had to submit my solutions to the first 30 problems from ProjectEuler.net. During this time I decided to complete those problems and prepare for my interview with Hackreactor in two weeks.</td>
  </tr>
  	<td>What I thought</td>
  	<td>I've always heard that Javascript was messy and confusing. Every time I came across it I agreed. However after learning it for a week I can see where these opinions come from. Part of the issue was grasping the idea of "this" and object prototypes instead of classes. If you didn't get these you would have harsh opinions about Javascript.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>I've always avoided Javascript mostly because of the reasons that I didn't like the way it looked and what others have said about it. Talk about judging a book by it's covers huh? Anyways since I knew I was going to excel in web development it was a MUST that I learn and master Javascript.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>Don't listen to what others say about a technology. Technologies come and go but Javascript has shown in the past decade to be one of the most in-demand languages for the web. If you're doing web learn Javascript.</td>
  </tr>
</table>