<h4>Early April to early May, 2016- HTML, CSS, Responsive Web Design</h4>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>I was working on a few projects for my portfolio and desperately needed to improve my HTML and CSS skills. Responsive Web Design (RWD) was also something I was interested in applying to my frontend design. Although RWD is not a language it is an approach to web design.</td>
  </tr>
  	<td>What I thought</td>
  	<td>HTML and CSS is pretty easy to grasp. RWD, although not required for frontend, greatly improves the user experience.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>Since I've already learned HTML and CSS two years back it was a good refresher to visit it again. I forgot some aspects of the language before revisiting it again. I also learned new things I didn't learn the first time around.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>If you're going to do frontend web development you're going to use HTML and CSS. So learn it and while you're at it learn RWD. Also, sometimes you may need to use a resource as a reference to come back to just in case you forget something or want clarification. The most common reference to use is the documentation of the language or software. There's no better reference than the documentation.</td>
  </tr>
</table>