<h4>Early June to August, 2016- Erlang and Elixir</h4>

<p>Erlang and Elixir are functional and concurrent languages. Elixir is built on top of Erlang.</p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>As a seasoned engineer will tell you, learning new languages is actually advised. The reason being is that all languages have their strengths and weaknesses, have different paradigms, and implement things differently (i.e., loops from one language may be done differently in another). I decided to take a few weeks off Python to open up my brain to learn new things. Also, I wanted to learn more about concurrency, scalability, and fault-tolerant systems. Erlang and Elixir implements these very well.</td>
  </tr>
  	<td>What I thought</td>
  	<td>Coming from an OOP language like Python to a functional concurrent language like Erlang and Elixir was tough. It's a total different paradigm yet it is very interesting and powerful.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>OOP and functional programming are totally different ways of thinking. Coming from Python to Elixir was challenging. However, I stuck through it and the functional programming paradigm just clicked for me.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>Once you're comfortable with a language and have developed applications, I encourage you to venture out and learn new languages. That is if you don't mind taking time off your main language. You'll definitely learn new ways of thinking. You can compare and contrast to the languages you know. More importantly learning how one thing is done in one language might help you implement this thing better in another. Erlang and Elixir can be quite intimidating, especially to those who have no background in computer science. That doesn't mean it's not a good language, it's just different from object-oriented and imperative languages that teach programming in a different way.</td>
  </tr>
</table>