<h4>Early February 2016 to early March 2016- Amazon Web Services (AWS) &amp; Ansible</h4>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>I was curious how deployment and DevOps (development and operations) worked</td>
  </tr>
  	<td>What I thought</td>
  	<td>It's a whole different level. Building an application on your own machine is one skill. Deploying it and managing it on a server is another.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>I was getting ahead of myself</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>You will be excited and curious to learn of new technologies and even people will say "X language is the future, learn it now". Instead, stay rooted into your goals and focus on one thing at a time. If what you're doing doesn't directly help you get closer to your goal now (learning the fundamentals or building your application) it's going to push you off track. One exception to this recommendation is when you're trying to learn a new language to learn new paradigms. In the beginning, you should focus on one language. When it comes to deployment, learn it when your first application is ready to be deployed.</td>
  </tr>
</table>