<h4>September 2016- Ruby</h4>

<p>Back to Ruby? I know, I know. I don't know what I am doing right? Read on and I'll explain.</p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>I've been getting really anxious about my progress. It just hasn't been as efficient as I wanted it to be. I've built small projects; much more on my own laptop than those I have published. I've considered applying to Appacademy (one of the many 12-week immersive developer bootcamps) to accelerate my learning. If I don't get in I move on!</td>
  </tr>
  	<td>What I thought</td>
  	<td>Appacademy teaches Ruby on Rails and React. Ruby's syntax is very similar to Elixir so I figured it be easy to pick up, which it was. React was interesting to me especially since it has grown popular recently. Appacademy's program is in Ruby so I thought a month of learning Ruby wouldn't be too hard.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>Sometimes you gotta do what you gotta do! Sometimes you need a helping hand and this was me asking for help. I had to put my ego aside that I probably couldn't do this all on my own.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>Pay for online courses, textbooks, programs and other resources to help you achieve your goals. Investing in yourself now is the best thing you can do for your future self. Even though the tuition of these types of bootcamps (anywhere from $15-20k) are pretty high the return is high as well.</td>
  </tr>
</table>
