<h4>April 2016- Heroku</h4>

<p>Heroku is a cloud application platform that manages the servers, deployment, operations and scaling of a user's application. Basically it's as simple as pushing your code to Heroku and they do the rest of the work to get it published.</p>

<table>
  <col width="20%">
  <col width="80%">
  <th>Reflection</th>
  <th>Comments</th>
  <tr>
    <td>Why I pursued this path</td>
    <td>I had some other small projects that I needed deployed. Heroku has had a good reputation for being stress-free to work with.</td>
  </tr>
  	<td>What I thought</td>
  	<td>Deploying my applications to Heroku was easy. Their documentation is made for dummies. They're super easy to understand and follow.</td>
  <tr>
  <tr>
  	<td>What I learned from this experience</td>
  	<td>I may consider using Heroku or AWS's Elastic Beanstalk to deploy small projects that I need deployed fast without having to worry about server management and configuration.</td>
  </tr>
  <tr>
  	<td>Advice</td>
  	<td>Use Heroku, Elastic Beanstalk, or Google App Engine (all "Platforms As A Service" or PAAS) to deploy applications where you don't mind sacrificing control, flexibility, and scalability for getting an application up and running without the hassle of managing and configuring servers. On the other hand, if you're trying to build a bigger application where you want full control of everything don't use a PAAS but instead consider an "Infrastructure As A Service" (IAAS). These include AWS, Window's Azure, Google App Engine (GAE), and Rackspace Open Cloud.</td>
  </tr>
</table>